<settings>
    <!--main settings!-->
    <main name="IsSetup">False</main>
    <main name="SensitivityThreshold">50</main>
    <main name="DataLogging">False</main>
    <main name="Debug">False</main>
    <!--server settings!-->
    <server name="NodeName">PowerHub_shnapshtone</server>
    <server name="Version">1.25b</server>
    <server name="NodeType">Central</server>
</settings>
