<settings>
    
    <main name="IsSetup">False</main>
    <main name="SensitivityThreshold">50</main> <!--actual cv value-->
    <main name="DataLogging">True</main>
    <main name="Debug">False</main>
    
    <server name="NodeName">PowerHub_shnapshtone</server>
    <server name="Version">1.25b</server>
    <server name="NodeType">Central</server>
    <server name="Permanence">60</server>
</settings>