<settings>
    
    <main name="IsSetup">True</main>
    <main name="SensitivityThreshold">50</main> 
    <main name="RefreshRate">3600</main>
    <main name="DataLogging">True</main>
    <main name="Debug">False</main>
    <main name="CarbonFootprint">7.47</main>
    <main name="KilowattLimit">2</main>
    <main name="KilowattLimitEnabled">True</main>
    
    <server name="NodeName">PowerHub_Testing</server>
    <server name="Version">1.25b</server>
    <server name="NodeType">Central</server>
    <server name="Permanence">60</server>
</settings>